.hidden {
    display: none;
}


.btn {
    border: 1px solid skyblue; 
    background-color: rgba(0,0,0,0); 
    color: skyblue; 
    padding: 1px;
    border-radius: 5px;
}

.btn:hover{
    color: white;
    background-color: skyblue;
}
